<div class="jumbotron">
  <p>Your favourite videogame series time trial community</p>
</div>

<ul>
  <li>{{#link-to 'fzgx/randomizer'}}FZGX Randomizer{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'players'}}Player Catalogue{{/link-to}}</li>
</ul>

<ul>
  {{#each (group-by model 'game.name') as |game|}}
    {{game.value}}
    <li>
      <ul>
        {{#each game.items as |ladder|}}
          <li>{{#link-to 'ladders.ladder' ladder.id}}{{ladder.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
