<p>
  <label for="player-name">Player name (up to 8 characters)</label>
  <br>
  {{input name="player-name" placeholder="e.g. LOCKS" maxlength="8" value=username}}
</p>

<p>
  <label for="vermillion-code">Password</label>
  <br>
  {{input name="vermillion-code" placeholder="e.g. W-XX9NV8A+30" value=generatedCode}}
</p>