<ul>
  {{#each laddersByGame as |game|}}
    {{game.value}}
    <li>
      <ul>
        {{#each game.items as |ladder|}}
          <li>{{#link-to 'ladders.ladder' ladder.id}}{{ladder.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
