<style>
  table.ladder {
    width: 100%;
  }
  table.ladder thead {
    font-weight: bold;
  }
  table.ladder tbody tr:nth-child(even) {
    background-color: #DDDDDD;
  }
</style>

<h1>{{model.game.name}}</h1>
<h2>{{model.name}}</h2>

<table class="ladder">
    <thead>
        <tr>
            <td>Rank</td>
            <td>Player</td>
            <td>Last Update</td>
            <td>SRPR Score</td>
            <td>AF Score</td>
            <td>Course Total</td>
            <td>Lap Total</td>
        </tr>
    </thead>
    <tbody>
        {{#each sortedEntries as |entry index|}}
            {{tr-ladder entries=sortedEntries entry=entry index=index}}
        {{/each}}
    </tbody>
</table>
