<h1>F-Zero GX</h1>

<h2>Randomize a Cup</h2>
{{fzgx-random-ship
    availableMachines=availableCups
    excludedMachines=excludedCups
    addElement=(action 'addElement' excludedCupsParam)
    removeElement=(action 'removeElement' excludedCupsParam) }}

<h2>Randomize a Machine</h2>
{{fzgx-random-ship
    availableMachines=availableMachines
    excludedMachines=excludedMachines
    addElement=(action 'addElement' excludeMachines)
    removeElement=(action 'removeElement' excludeMachines) }}

<h2>Randomize a Map</h2>
{{fzgx-random-ship
    availableMachines=availableMaps
    excludedMachines=excludedMaps
    addElement=(action 'addElement' excludeMaps)
    removeElement=(action 'removeElement' excludeMaps) }}
