<div class="jumbotron">
  <h2>F-Zero Central</h2>
</div>
<ul>
  <li><a href="#">F-Zero (SNES)</a></li>
  <li><a href="#">F-Zero Maximum Velocity</a></li>
  <li><a href="#">F-Zero X</a></li>
  <li><a href="#">F-Zero GX</a></li>
  <li><a href="#">F-Zero GPL</a></li>
  <li><a href="#">F-Zero Climax</a></li>
</ul>

{{outlet}}
