<div class="jumbotron">
  <h1>
    F-Zero Central
  </h1>
  <h2>Your favourite videogame series time trial community</h2>
</div>

<ul>
  <li>{{#link-to 'fzgx/randomizer'}}FZGX Randomizer{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'players'}}Player Catalogue{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'snes' }}F-Zero (SNES){{/link-to}}</li>
  <li>{{#link-to 'mv' }}F-Zero Maximum Velocity{{/link-to}}</li>
  <li>{{#link-to 'x' }}F-Zero X{{/link-to}}</li>
  <li>{{#link-to 'gx' }}F-Zero GX{{/link-to}}</li>
  <li>{{#link-to 'gpl' }}F-Zero GPL{{/link-to}}</li>
  <li>{{#link-to 'cx' }}F-Zero Climax{{/link-to}}</li>
</ul>
