<h1>Jet Vermillion</h1>

<p>Generate a code for your save to unlock Jet Vermillion, the easy way.</p>

<style>
  .generator input[type=text] {
    text-transform: uppercase;
  }
  
  .generator input[type=text]::-webkit-input-placeholder {
    text-transform: none;
  }
</style>
{{jet-vermillion-code}}

{{outlet}}
